*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.container{
  max-width: 100%;
  padding: 0px 20px;
  margin: 0 auto;
}
.button__primary{
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
    color:#fff;
    border:none;
    padding: 12px;
    border-radius: 6px;
    cursor:pointer;
    font-weight: 600;
}
.navbar__brand{
    width: 100px;
}
.navbar__logo{
    width: 100%;
}

.button__primary:hover{
  border: 2px solid pink;
}
.hero__image__container{
  width: 100%;
  position:relative;
}
.hero__image{
  position: absolute;
  z-index: 2;
  width: 100%;
  margin-top: 38px;
  border-radius: 8px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.hero__image__svg1{
  position: absolute; 
}

.hero__text{
  font-size: 30px;
  margin: 20px 0px;
}

.food__card{
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
}

.food__card__image__container{
  width: 100%;
}

.food__image{
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.food__card__description{
  padding: 15px;
}

.explore__menu__text{
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
}
.restuarant__text{
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
}
.resturant__images__container{
  width: 100%;
}

.resturant__images__row__one,
.resturant__images__row__two{
  width: 100%;
  display: flex;
  gap: 3px;
}
.resturant__images__row__one{
  align-items: baseline;
  margin-bottom: 3px;
}

.resturant__image__1,
.resturant__image__4{
  width: 100%;
  height: 120px;
}

.resturant__image__2,
.resturant__image__3{
  width: 120%;
  height: 200px;
}
 
.resturant__1{
  width: 100%;
  height: 100%;
}
.resturant__2{
  width: 100%;
  height: 100%;
}
.resturant__3{
  width: 100%;
  height: 100%;
}
.resturant__4{
  width: 100%;
  height: 100%;
}

.update__form__text{
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
}

.input__email__container{
  padding: 2px;
}

.email__input{
  padding: 6px;
  border: 1px solid #ee89a0;
  border-radius: 4px;
  background-color: #fcedf0;
  color: #1d3557;
  font-weight: 700;
}
 
.update__form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.quote__container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  width: 100%;
  height: 200px;
  border-radius: 8px;
  background: url("https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80")
}
.quote__overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:#0a4065;
  border-radius: 8px;
  opacity: 49%;
}
.quote__text{
  color: #fff;
  text-align: center;
  z-index: 3;
  margin: 0 1rem;
}

.footer__container{
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem 1rem 0 0;
    margin-top: 4rem;
}
.footer__image{
  filter: brightness(0) invert(1);
}
.footer__menu{
   color: #fff;
   list-style-type: none;
   margin-top: -1rem;
   margin-bottom: 20px;
}
.footer__menu li{
  margin: 5px 0;
}


@media (min-width: 768px) {
    .navbar {
      justify-content: space-between;
      padding: 0 3rem;
      
    }
    .hero__container{
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-top: 20px;
    }
    .explore__menu__lists{
      margin-top: 40px;
      display: flex;
      gap: 15px;
      padding: 0px 30px;
    }
    .explore__menu__view__more{
      display: flex;
      justify-content: center;
    }
    .explore__menu__container{
      position: relative;
      margin-bottom: 60px;
    }
    .explore__menu__text{
      font-size: 50px;
    }
    #pizza__card{
      margin-top: -20px;
      margin-bottom: 30px;
    }
    
    .explore__menu__gradient__bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );
      transform: skewY(-5deg);
      z-index: -3;
    }
    .restuarant__container{
      display: flex;
      align-items: center;
    }
    .restuarant__text{
      width: 100%;
      font-size: 40px;
    }
    .email__input{
      width: 20rem;
      padding: 0.5rem;
    }
    .update__form__text{
      font-size: 40px;
    }
    .quote__container{
      height: 300px;
    }
    .quote__text{
      font-size: 2rem;
      font-weight: 500;
    }
    .footer__container{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; 
    }
    .footer__menu{
      margin-bottom: 0;
    }
  }
  
  @media (min-width: 1020px) {
    .navbar__brand {
      width: 120px;
    }
    .button__primary{
      padding: 15px;
      font-size: 15px;
      width:150px;
    }
    .hero__description{
      width: 100%;
    }
    .hero__text{
      font-size: 48px;
    }
    .container{
      max-width: 900px;
    }
    .explore__menu__lists{
      gap: 40px;
    }
  }
  @media (min-width:1300px) {
    .container{
      max-width: 1170px;
    }
    
  }